<nav class="navbar navbar-dark bg-primary mb-4">
	<div class="container">
		{% if not user.is_authenticated %}
			<a class="navbar-brand" href="/login">Login</a>
			<a class="navbar-brand" href="/register">Register</a>
		{% endif %}		
		{% if user.is_authenticated %}
			{% if user.Role_id != 3 %}
				<a class="navbar-brand" href="/users">Users</a>
			{% endif %}
				<a class="navbar-brand" href="/document_list">Documents</a>
								
		<a class="navbar-brand" href="/logout/">Logout</a>
		{% endif %}
		
	</div>

</nav>