{% extends 'base.html' %}
{% block content %}

{% for s in subject%}
<center><h2>Students list {{s.Ime}}</h2></center>

{%if user.Roles_id == 2 %}
<a type="button" class="btn btn-success" href="/filterlist/izgubilipotpis/{{s.id}}/" style="margin-bottom: 10px; color: white;">Izgubili potpis</a>
<a type="button" class="btn btn-success" href="/filterlist/upisani/{{s.id}}/" style="margin-bottom: 10px; color: white;">Upisani</a>
<a type="button" class="btn btn-success" href="/filterlist/polozeni/{{s.id}}/" style="margin-bottom: 10px; color: white;">Polozeni</a>
{%endif%}
{% endfor %}

<table class="table" style="width: 100%;">
	<thead>
		<tr>
			<th scope="col">Subject</th>
			<th scope="col">Email</th>
			<th scope="col">Status</th>
		</tr>
	</thead>
	<tbody>
		{%for student in upisi %}	
			<tr>
				<th scope="row">{{ student.PredmetID }}</th>
				<td>{{ student.StudentID }}</td>
				<td>
					{{ student.Status}}
				</td>
			</tr>
		{%endfor%}			
	</tbody>
</table>

{% endblock %}